

.header
{
height:300px;
width:1000px;
margin-right:auto;
margin-left:auto;
background-color:#336666;
border:#000000 solid;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
height:250px;
width:300px;
float:left;
}
.name
{
height:250px;
width:700px;
float:right;
}
.n
{
position:relative;
top:100px;
left:150px;
font-size:36px;
background-color:#336666;
border:#000000 solid;
font-family:Arial, Helvetica, sans-serif;
}
.menu
{
height:50px;
width:1000px;
float:left;
background-color:#333333;
}
.menu ul li
{
display:inline;
padding:40px;
}
.menu ul li a
{
text-decoration:none;
color:#000000;
border:solid #000000;
background-color:#FFFFFF;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
}
.footer
{height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#336666;
border:solid;
border-color:#000000;

}
.copy
{text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
top:40px;
position:relative;}


.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99CCFF;

}
.img
{
float:left;
}
.heading
{
height:100px;
width:1000px;
text-align:center;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
background-color:#999999;

}
.para
{
height:200px;
width:1000px;
float:left;
text-align:justify;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
background-color:#999999;

}


.service
{height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999966;
font-size:18px;
}
.register
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
font-size:22px;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}

.contact
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
}
.map
{
float:left;
}
.address
{
height:300px;
width:500px;
float:left;
text-align:center;
font-size:17px;
}
.contacts
{
height:200px;
width:500px;
float:right;
font-size:17px;
background-color:#999999;
text-align:center;

}
